/* NavigationBar Component CSS Properties*/
.companyName{
    font-family: 'Antic Didone', serif;
}
.navigationText, .companyName{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
.navigationBackground{
    background-color: #1b262c;
}
.loginButton{
    padding-right: 25px;
}
.divider,.supportButton{
    padding-right: 10px;
}
.landingPageContainer{
    background-size: cover;
    background-color: #000000;
}

/* HEADER SECTION */
.Globe{
    background-image: url("./images/Global.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.messageSection{
    font-family: 'PT Serif', serif;
    padding-left: 8%;
    text-align: left;
    padding-top: 200px;
    color: #ffffff;
}
.headerBody{
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
}

/* END OF HEADER SECTION */

/* PRODUCTS SECTION */
.productsSection{
    background-color: #323232;
    padding-bottom: 40px;
    padding-top:40px;
}
.cards{
    padding-top: 10px;
}
.cardBody{
    background-color: #393e46;
    color: white;
}
.card1{
    margin-right: 10px;
}
.middleCardImg{
    padding-bottom: 20.5px;
}

/* END OF PRODUCT SECTION */


/* BREAK POINTS */
@media screen and (max-width: 800px){
    .footerContainer{
        padding-left: 25%;
    }
    .productsTitle{
        padding-left:35%;
    }
    .card1{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 900px){
    .footerContainer{
        padding-left: 35%;
    }
    
}
@media screen and (max-width: 2000px){
    .footerContainer{
        padding-left: 43%;
    }
    .productsTitle{
        padding-left:39%;
    }
}
@media screen and (max-width: 3000px){
    .productsTitle{
        padding-left:41%;
    }
}
@media screen and (max-width: 4000px){
    .productsTitle{
        padding-left:41%;
    }
}

/* END OF BREAK POINTS */

/* FOOTER SECTION */
.footer{
    text-align: left;
    padding-top: 30px;
    font-family: 'Antic Didone', serif;
}

/* END OF FOOTER SECTION */

